<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-light sticky-top">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <a
          routerLink="/dashboard"
          class="d-block p-3 link-dark text-decoration-none"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Icon-only"
        >
          <img src="../assets/img/favicon-32x32.png" alt="" srcset="" />
        </a>
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
        >
          <li class="nav-item">
            <a
              routerLink="/dashboard"
              class="nav-link py-3 px-3 text-bg-primary"
              style="color: grey"
              title="Home"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Home"
            >
              <i class="bi-house fs-3"></i>
            </a>
          </li>
          <li>
            <a
              routerLink="/studentChat"
              class="nav-link py-3 px-3 bg-light"
              title="Chat"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Dashboard"
            >
              <i class="bi bi-person-plus fs-3"></i>
            </a>
          </li>
          <!-- <li>
            <a
              routerLink="/dashboard"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Orders"
              data-bs-original-title="addMark"
            >
              <i class="bi bi-cloud-plus fs-3"></i>
            </a>
          </li> -->
          <!-- <li>
            <a
              href="#"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Products"
            >
              <i class="bi bi-book fs-3"></i>
            </a>
          </li> -->
          <!-- <li>
            <a
              routerLink="/dashboard"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-people fs-3"></i>
            </a>
          </li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle bg-light"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="https://i.imgur.com/hczKIze.jpg"
                width="40"
                class="rounded-circle"
              />
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" (click)="OnUserLogout()"
                >Log out</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">
      <!--dashboard content -->
      <section>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div style="margin-top: 5px">
                    <h2 style="margin: 0px">All Courses</h2>
                    <h1 style="font-weight: bold">04/06</h1>
                  </div>
                  <div class="align-self-center">
                    <img
                      alt="example"
                      class="img-fluid rounded"
                      src="assets/svg/allcourses.svg"
                      style="background-color: #edf4ff; height: 65px; width: 65px; object-fit: scale-down"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div style="margin-top: 5px">
                    <h2 style="margin: 0px">All Projects</h2>
                    <h1 style="font-weight: bold">40/60</h1>
                  </div>
                  <div class="align-self-center">
                    <img
                      alt="example"
                      class="img-fluid rounded"
                      src="assets/svg/allprojects.svg"
                      style="background-color: #edf4ff; height: 65px; width: 65px; object-fit: scale-down;
                      object-position: center;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div style="margin-top: 5px">
                    <h2 style="margin: 0px">Test Attended</h2>
                    <h1 style="font-weight: bold">30/50</h1>
                  </div>
                  <div class="align-self-center">
                    <img
                      alt="example"
                      class="img-fluid rounded"
                      src="assets/svg/testattended.svg"
                      style="
                        background-color: #edf4ff; height: 65px; width: 65px; object-fit: scale-down"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div style="margin-top: 5px">
                    <h2 style="margin: 0px">Test Passed</h2>
                    <h1 style="font-weight: bold">15/20</h1>
                  </div>
                  <div class="align-self-center">
                    <img
                      alt="example"
                      class="img-fluid rounded"
                      src="assets/svg/testpassed.svg"
                      style="
                        background-color: #edf4ff;
                        height: 65px;
                        width: 65px;
                        object-fit: scale-down;
                        object-position: center;"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  
      
      <section>
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-sm-6 col-12 mb-4 ">
            <div class="card" >
              
              <div class="row d-flex justify-content-end">
                    <div class="card-header">
                      <img style="height: 150px; width: 150px;" src="../assets/img/teacher.png" alt="Proctor Details"/><br>
                      <span >Proctor Details</span>
                    </div>
                    <div class="card-body "> 
                      <p><strong> Name : {{teacherName}}</strong><br></p>
                      <p><strong>Age:   {{teacherAge}}</strong><br></p>
                      <p><strong>Email:  {{teacherEmail}}</strong><br></p>
                      <p><strong>Contact: {{teacherNumber}}</strong><br></p>
                      <p><strong>Gender:  {{teacherGender}}</strong><br></p>
                      <p><strong>Department:  {{teacherDepartment}}</strong><br></p>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4 ">
            <div class="card list-group list-group-light">
              <div class="card-header">Upcoming Events</div>
              <div class="card-body "> 
                <div class="card bg-opacity-25" style="margin-bottom: 10px;" [style.backgroundColor]="colorList[i]" *ngFor="let event of eventList; let i = index">
                  <div class="card-body d-flex justify-content-between align-items-center ">
                    <div class="d-flex align-items-center">
                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{event.EventName}}</p>
                        <p class="text-muted mb-0" style="display:inline-block;overflow: hidden !important; white-space: nowrap; width:180px; text-overflow: ellipsis;">{{event.EventDescription}}</p>
                      </div>
                    </div>
                    <button type="button " class="btn btn-tertiary ripple" style="color: black;" data-mdb-ripple-color="light" (click)="addNewAnnouncement()">View</button>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="button " class="btn btn-tertiary ripple" data-mdb-ripple-color="light" (click)="addNewAnnouncement()">Show ALL</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>

      </div>
  </div>
</div>


